
/* Table column header */
.kxpwLw {
    display: flex;
    width: 100%;
    /* font-size: 16px!important; */
    text-align: "left";
    font: normal normal 600 16px/23px Gilroy !important;
    /* font-family: "Gilroy";
    font-weight: 600 !important; */
    letter-spacing: "0px";
    color:#4C4C4C !important;
    opacity: 1;
}
